# python
**/__pycache__

# terraform
**/.terraform
**/terraform.tfstate.backup
**/terraform.tfvars
**/terraform.tfstate
secrets.auto.tfvars

# Ignore generated ZIP files
lambda_zips/

# Ignore generated JSON files
class_schedules_utc.json